.add-post {
    width: 500px;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    font-family: 'Arial', sans-serif;
}

.add-post h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.form-group textarea {
    resize: vertical;
}

.image-preview {
    text-align: center;
    margin-bottom: 15px;
}

.image-preview img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

#addpost-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(0deg, #51023f 0%, #8a09b4 100%);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: filter 0.3s ease;
}

button:hover {
    filter: brightness(0.9);
}

@media (max-width: 990px) {
    .add-post {
        max-width: 80vw;
    }
}