.post-full {
  width: 500px;
  background-color: #f8f9fa;
  border-radius: 20px;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Arial", sans-serif;
  margin: 100px auto;
}

.post-top {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.2em;
}

.post-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  padding: 20px;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

.post-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.post-image img:hover {
  transform: scale(1.05);
}

.post-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f3f5;
}

.like-dislike {
  display: flex;
  gap: 20px;
}

.like,
.dislike {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like img,
.dislike img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  filter: grayscale(1);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.like.active img,
.dislike.active img,
.like img:hover,
.dislike img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.post-text {
  background-color: #f1f3f5;
  padding: 0px 20px;
  font-size: 1em;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.post-comments {
  background-color: #f1f3f5;
  padding: 15px;
  font-size: 0.9em;
  color: #343a40;
  overflow-y: auto;
  max-height: 200px;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment img.comment-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-author {
  font-weight: bold;
  margin-right: 5px;
}

.comment-box {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px;
  border-top: 1px solid #dee2e6;
  background-color: #f1f3f5;
}

.comment-box textarea {
  width: 80%;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  resize: none;
  font-family: 'Arial', sans-serif;
}

.comment-box button {
  width: 20%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #51023f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-box button:hover {
  background-color: #8a09b4;
}

@media (max-width: 990px) {
  .post-full {
      max-width: 80vw;
  }

  .comment-box {
      align-items: stretch;
  }
}